<script type="text/javascript">
	//<![CDATA[
	function clearlog(btn) {
		XHR.get('<%=url([[admin]], [[services]], [[softwarecenter]], [[clear_log]])%>', null,
			function(x, data) {
				if(x && x.status == 200) {
					var log_textarea = document.getElementById('log_textarea');
					log_textarea.innerHTML = "";
					log_textarea.scrollTop = log_textarea.scrollHeight;
				}
			}
		);
	}
	XHR.poll(5, '<%=url([[admin]], [[services]], [[softwarecenter]], [[get_log]])%>', null,
		function(x, data) {
			if(x && x.status == 200) {
				var log_textarea = document.getElementById('log_textarea');
				log_textarea.innerHTML = x.responseText;
			}
		}
	);
	//]]>
</script>
<input type="checkbox" onclick="document.getElementById('demo').style.display='block'"><%:显示安装过程%></input>
<div id="demo" style="display: none">
<fieldset class="cbi-section" id="_log_fieldset">
	<!-- <input class="cbi-button cbi-input-remove" type="button" onclick="clearlog()" value="<%:Clear logs%>" /> -->
	<textarea id="log_textarea" class="cbi-input-textarea" style="width: 100%;display:block;" data-update="change" rows="10" cols="60" readonly="readonly"></textarea>
</fieldset>
</div>
	
