<fieldset class="cbi-section">
	<legend><%:Running Status%></legend>
	<table width="100%" cellspacing="10" id="_xlnetacc_status_table">
		<tr><td id="nginx_run_state_head" width="33%"><%:Nginx Running Status%></td><td id="nginx_run_state"><em><%:Collecting data...%></em></td></tr>
		<tr><td id="mysql_run_state_head" width="33%"><%:MySQL Running Status%></td><td id="mysql_run_state"><em><%:Collecting data...%></em></td></tr>
		<tr><td id="php_run_state_head" width="33%"><%:PHP7 Running Status%></td><td id="php_run_state"><em><%:Collecting data...%></em></td></tr>
	</table>
</fieldset>

<script type="text/javascript">//<![CDATA[
	var nginx_state = document.getElementById('nginx_run_state');
	var nginx_state_head = document.getElementById('nginx_run_state_head');
	var mysql_state = document.getElementById('mysql_run_state');
	var mysql_state_head = document.getElementById('mysql_run_state_head');
	var php_state = document.getElementById('php_run_state');
	var php_state_head = document.getElementById('php_run_state_head');
	
	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "services", "softwarecenter", "status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			if(status.nginx_installed){
				nginx_state.innerHTML = status.nginx_state ? '<em><b><font color=green><%:RUNNING%></font></b></em>' : '<em><b><font color=red><%:NOT RUNNING%></font></b></em>';
				nginx_state_head.style.display = 'table-cell';
				nginx_state.style.display = 'table-cell';
				}
			else{
				nginx_state_head.style.display = 'none';
				nginx_state.style.display = 'none';
			}
			if(status.mysql_installed){
				mysql_state.innerHTML = status.mysql_state ? '<em><b><font color=green><%:RUNNING%></font></b></em>' : '<em><b><font color=red><%:NOT RUNNING%></font></b></em>';
				mysql_state_head.style.display = 'table-cell';
				mysql_state.style.display = 'table-cell';
				}
			else{
				mysql_state_head.style.display = 'none';
				mysql_state.style.display = 'none';
			}
			if(status.php_installed){
				php_state.innerHTML = status.php_state ? '<em><b><font color=green><%:RUNNING%></font></b></em>' : '<em><b><font color=red><%:NOT RUNNING%></font></b></em>';
				php_state_head.style.display = 'table-cell';
				php_state.style.display = 'table-cell';
				}
			else{
				php_state_head.style.display = 'none';
				php_state.style.display = 'none';
			}	
		}
	});
//]]></script>