<fieldset class="cbi-section">
	<legend><%:Website List%></legend>
	<table width="100%" cellspacing="10" id="website_list">
		<tr><td width="33%"><%:Address%></td><td id="php_run_state"><%:Website Name%></td></tr>
	</table>
</fieldset>

<script type="text/javascript">//<![CDATA[	
	var website_list = document.getElementById('website_list');

	XHR.poll(5, '<%=luci.dispatcher.build_url("admin", "services", "softwarecenter", "status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			var tbody_delete=website_list.getElementsByTagName('tbody');
			var tbody_size_delete = tbody_delete.length;
			for(var i = 1; i < tbody_size_delete; i++){
				website_list.removeChild(tbody_delete[1]);
			}
			var list = status.website_list.split(" ");
			var list_size = parseInt(status.website_list_size);
			for(var i = 0; i < list_size; i++){
				var tbody = document.createElement("tbody")
				var tr = document.createElement("tr");
				var address = document.createElement("td")
				address.innerHTML = list[2*i];
				address.style="display: table-cell;"
				address.width = "33%"
				var name = document.createElement("td");
				name.innerHTML = list[2*i+1];
				name.style="display: table-cell;"
				tr.appendChild(address);
				tr.appendChild(name);
				tbody.appendChild(tr);
				website_list.appendChild(tbody);
			}	
		}
	});
//]]></script>